<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Sistema de Gestão de Artigos</title>
    <!-- Favicon-->
    <link rel="icon" href="~/logo.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="~/Content/styles.css" rel="stylesheet" />
    <link href="~/Content/navbar.css" rel="stylesheet" />
    <link href="~/Content/transition.css" rel="stylesheet" />
</head>

<body>

    <div class="navigation">
        <ul>
            <li>
                <a href="https://neblu.pt">
                    <span class="icon">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </span>
                    <span class="title">Loja</span>
                </a>
            </li>
            <li>
                <a href="/Artigo">
                    <span class="icon">
                        <i class="fa fa-tags" aria-hidden="true"></i>
                    </span>
                    <span class="title">Artigos</span>
                </a>
            </li>
            <li>
                <a href="/Necessidades">
                    <span class="icon">
                        <i class="fa fa-truck" aria-hidden="true"></i>
                    </span>
                    <span class="title">Pedidos</span>
                </a>
            </li>
            <li>
                <a href="/Ajuda">
                    <span class="icon">
                        <i class="fa fa-question" aria-hidden="true"></i>
                    </span>
                    <span class="title">Ajuda</span>
                </a>
            </li>
            <li class="signout">
                <a href="@Url.Action("LogOut", "Login")">
                    <span class="icon">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </span>
                    <span class="title">Terminar Sessão</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="topo">
        <a href="/">
            <img src="~/Content/img/logo-navbar.png" />
        </a>
    </div>

    <div class="toggle" onclick="toggleMenu()"></div>

    <br />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sistema de Gestão de Artigos</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/timeoutAction.js"></script>
    <script src="~/Scripts/toggleMenu.js"></script>

</body>
</html>
