@model GestaoArtigos.Models.tb_artigos
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Details";
    if (Session["codigo"] == null)
    {
        Response.Redirect("Login");
    }
}


<div class="form-horizontal">
    <hr />

    <div class="form-group">
        <label class="control-label col-sm-2"><b>ID</b></label>
        <div class="control-label col-sm-2">
            @Html.DisplayFor(model => model.codigo)
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2"><b>Referência</b></label>
        <div class="control-label col-sm-2">
            @Html.DisplayFor(model => model.referencia)
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2"><b>Descrição</b></label>
        <div class="control-label col-sm-2">
            @Html.DisplayFor(model => model.descricao)
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2"><b>Data de criação</b></label>
        <div class="control-label col-sm-2">
            @Html.DisplayFor(model => model.data_criado)
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2"><b>Última alteração</b></label>
        <div class="control-label col-sm-2">
            @Html.DisplayFor(model => model.data_alterado)
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2"><b>Nº do utilizador</b></label>
        <div class="control-label col-sm-2">
            @Html.DisplayFor(model => model.codigo_utilizador)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Editar", "Edit", new { id = Model.codigo }, new { @class = "btn btn-warning" }) |
            <a class="btn btn-primary" href="/Artigo">Voltar à lista</a>
        </div>
    </div>

</div>

<p>
</p>
