@model PagedList.IPagedList<GestaoArtigos.Models.tb_artigos>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Index";
}


<p>
    <a class="btn btn-success" href="/Artigo/Create">Adicionar Novo</a>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" id="Search" placeholder="Procurar" class="form-control" />
        </div>
    </div>
</p>


<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Referência", "Index", new { sortOrder = ViewBag.RefSortParm })
        </th>
        <th>
            Descrição
        </th>
        <th>
            @Html.ActionLink("Data de criação", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th>
            Última Alteração
        </th>
        <th>
            Nº do utilizador
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="Search">
            <td>
                @Html.DisplayFor(modelItem => item.referencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data_criado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data_alterado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codigo_utilizador)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.codigo }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.codigo }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.codigo }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>
<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))


<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                } else {
                    $(this).show();
                }

            });
        });
    });

</script>