@model IEnumerable<GestaoArtigos.Models.tb_artigos>

@{
    ViewBag.Title = "Index";
}


<p>
    <a class="btn btn-success" href="/Artigo/Create">Adicionar Novo</a>

</p>
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Referência
        </th>
        <th>
            Descrição
        </th>
        <th>
            Data de Criação
        </th>
        <th>
            Última Alteração
        </th>
        <th>
            Nº do utilizador
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.referencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_criado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_alterado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codigo_utilizador)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.codigo }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.codigo }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.codigo }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
