@model GestaoArtigos.Models.tb_necessidades
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-sm-2">ID do Artigo</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.codigo_artigo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.codigo_artigo, "", new { @class = "text-danger" })
                <div class="text-danger">
                    @ViewBag.ErrorMessage
                </div>
            </div>

        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Stock Atual</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.quantidade_atual, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.quantidade_atual, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Estado</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.estado, new SelectList(Enum.GetValues(typeof(Estado))), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-sm-2">Nº de utilizador</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.codigo_utilizador, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.codigo_utilizador, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Adicionar" class="btn btn-warning" onclick="this.disabled=true;this.form.submit();" /> |
                <a class="btn btn-primary" href="/Necessidades">Voltar à lista</a>
            </div>
        </div>
    </div>

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
