@model GestaoArtigos.Models.tb_necessidades
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Details";
    if (Session["codigo"] == null)
    {
        Response.Redirect("Login");
    }
}

<div class="form-horizontal">

    <div class="form-group">
        <label class="control-label col-sm-2"><b>ID do Artigo</b></label>
        <div class="control-label col-sm-2">
            @Html.DisplayFor(model => model.id_artigo)
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2"><b>Quantidade Atual</b></label>
        <div class="control-label col-sm-2">
            @Html.DisplayFor(model => model.quantidade_atual)
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2"><b>Estado</b></label>
        <div class="control-label col-sm-2">
            @Html.DisplayFor(model => model.estado)
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2"><b>Data de criação</b></label>
        <div class="control-label col-sm-2">
            @Html.DisplayFor(model => model.data_criado)
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2"><b>Última Alteração</b></label>
        <div class="control-label col-sm-2">
            @Html.DisplayFor(model => model.data_alterado)
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2"><b>Nº do utilizador</b></label>
        <div class="control-label col-sm-2">
            @Html.DisplayFor(model => model.id_utilizador)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Editar", "Edit", new { id = Model.id_necessidade }, new { @class = "btn btn-warning" }) |
            <a class="btn btn-primary" href="/Necessidades">Voltar à lista</a>
        </div>
    </div>

</div>